@import "../variables/Variables.scss";

.form-group {

    .label-wrapper {
        color: white;
        font-size: 1.7em;
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .form-control {
        width: 70%;
        height: 45px;
        color: white;
        background-color: $backgroundPrimary;
        margin: 20px auto;
        border-radius: 25px;
        border: solid white 1px;
    }

    .form-control::placeholder {
        color: white;
    }

    .btn-wrapper {
        text-align: center;
        
        button {
            color: black;
            background-color: $yellowPrimary;
            border: solid $yellowPrimary;
        }
    }
}