@import "../variables/Variables.scss";

.highlight {
    color: $yellowPrimary;
}

.bg-yellow-primary {
    background-color: $yellowPrimary;
}

.main-divider {
    padding: 2px;
    background-color: $yellowPrimary;
    opacity: 100%;
}

.meaning {
    background-color: #090828;
    padding: 25px 40px;
}

.

.example {
    font-size: 18px;
    margin-left: 40px;
}
