@import "../variables/Variables.scss";

.highlight {
    color: $yellowPrimary;
}

.bg-yellow-primary {
    background-color: $yellowPrimary;
}

.main-divider {
    background-image: linear-gradient(120deg, #fff 100%, #faaf40 100%);
    padding: 3px;
}

.example {
    font-size: 15px;
}