@import "../variables/Variables.scss";

a {
    text-decoration: none;
}

.nav-bar {
    padding: 10px 20px;
    border-bottom: solid 1px #484848;
    margin-bottom: 50px;
}

.nav {
    display: inline-flex;
}

.nav1 {
    margin-left: 10px;
}

.nav2 {
    float: right;
}

// Dropdown button
.nav-link:hover {
    color: $yellowPrimary;
}

// NavBar items
.nav-link {
    color: white;
}

// Navbar items on hover
.item:hover {
    color: $yellowPrimary;
}


.nav-bar {
    position: relative;
}

.logo {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6em;
}

.logo:hover {
    color: white;
}

.item {
    color: white;
}

// Custom
