@import "../variables/Variables.scss";

a {
    text-decoration: none;
}

.nav-bar {
    padding: 10px 20px;
}

.nav {
    display: inline-flex;
}

.nav1 {
    margin-left: 10px;
}

.nav2 {
    float: right;
}

.nav-bar {
    position: relative;
}

.logo {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6em;
}

.item {
    color: white;
}